.container {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding-bottom: 70px;

  display: flex;
  flex-direction: column;
  align-items: center;

  header {
    width: 100%;
    display: flex;
    justify-content: center;

    margin: 20px 0 20px 0;

    img {
      border-radius: 50%;
    }
  }

  body {
    width: 100%;
    padding: 0 10px;

    .searchInputField {
      padding: 0 20px;

      div {
        display: flex;
        align-items: center;
        height: 38px;

        background: #E8E8E8;
        box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 4px;
        border: none;

        padding: 0 10px;
      }

      input {
        margin-left: 10px;
        background: transparent;
        border: none;
        outline: none;        
      }
    }

    .menuItensField {
      display: flex;
      flex-direction: column;

      .fieldClass {
        margin-top: 20px;

        h2 {
          padding: 0 20px;
          font-size: 20px;
          color: #000000;
          font-weight: normal;
        }

        .classSeparator {
          width: 95%;
          margin: 0 auto;
          background: #B2B1B1;
          height: 1px;
        }

        .fieldItem {
          width: 100%;
          padding: 0 20px;

          section {
            margin-top: 10px;
            display: flex;
            justify-content: space-between;

            p {
              font-weight: normal;
              font-size: 16px;
            }

            button {
              background: #088A34;
              box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
              border-radius: 4px;
              border: none;
              cursor: pointer;
              transition: .3s ease;

              color: #FFFFFF;

              &:hover {
                transform: scale(1.05);
                filter: brightness(0.9);
              }

              span {
                margin-right: 5px;
              }
            }
          }

          p:nth-child(2) {
            margin-top: 6px;
          }

          .itemSeparator {
            height: 1px;
            background: #CFCFCF;
            margin: 10px auto 0 auto;
          }
        }
      }
    }
  }

  main {
    position: fixed;
    border-radius: 20px 20px 0 0;
    bottom: -300px;
    background: #000000;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;

    padding: 10px 30px;

    height: 500px;

    overflow-y: scroll;

    h1 {
      color: #FFF;
    }

    &.viewingOrder {
      animation: showOrder .5s forwards ease;
    }
    &.notViewingOrder {
      animation: hideOrder .5s forwards ease;
    }  
  }

  footer {
    display: flex;
    position: fixed;
    border-radius: 20px 20px 0 0;
    bottom: 0;
    background: #000000;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;

    padding: 10px 30px;

    height: 65px;

    h1 {
      color: #FFF;
    }

    .bottomOrder {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;

      div {
        display: flex;
        flex-direction: column;
  
        span {
          color: #FFFFFF;
          font-size: 10px;
          line-height: 14px;
        }
        p {
          color: #FFFFFF;
        }
      }
  
      button {
        width: 113px;
        height: 30px;
        background: #FFFFFF;
        border-radius: 2px;
        border: none;
        box-shadow: 1px 3px 4px rgba(255, 255, 255, 0.4);
        font-size: 16px;
        cursor: pointer;

        transition: .3s ease;

        &:hover {
          transform: scale(1.05);
          filter: brightness(0.9);
        }
      }
    }
  }
}

@keyframes showOrder {
  from {
    bottom: -600px;
  }
  to {
    bottom: 40px;
  }
}

@keyframes hideOrder {
  from {
    bottom: 40px;
  }
  to {
    bottom: -600px;
  }
}
